@model IEnumerable<ExpenseManagement.Models.BLs.SubExpenseHead>

@{
    ViewBag.Title = "SubExpenseHeads";
}

<h2>SubExpenseHeads</h2>

<p>
    @Html.ActionLink("Create New", "SubExpenseHead", "", new { @class = "btn btn-success" })
</p>
<table class="row-border hover order-column table-condensed table-bordered" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubExpenseHeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseHeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubExpenseStatus)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubExpenseHeadName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseHeadName)
                </td>
                <td>
                    @if (item.SubExpenseStatus == 1)
                    {
                        <span class="badge badge-primary badge-pill">Active</span>
                    }
                    else
                    {
                        <span class="badge badge-danger badge-pill">InActive</span>
                    }
                </td>
                <td>
                    <a href='@Url.Action("SubExpenseHead", "SubExpenseHead",new {ID= item.SubExpenseHeadID })' class="btn btn-outline-info"><i class="fa fa-user-edit"></i></a>
                    <a href='@Url.Action("Delete", "SubExpenseHead",new {ID= item.SubExpenseHeadID })' class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
