@model ExpenseManagement.Models.BLs.Expenses
<div class="table-responsive">
    <table class=" table row-border hover order-column table-condensed table-bordered" id="table_id">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseHeadName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubExpenseHeadName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @if (Model.IsFiltering == true)
                {

                }
                else
                {
                    <th>&nbsp;&nbsp;&nbsp;Actions&nbsp;&nbsp;&nbsp;</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ExpensesList)
            {
                string cclass = "";

                <tr>
                    @if (item.ExpenseHeadName == "Construction")
                    {
                        cclass = "badge badge-danger";
                    }
                    else
                    {
                        cclass = "";
                    }
                    <td>
                        <span class="@cclass">  @Html.DisplayFor(modelItem => item.ExpenseHeadName)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubExpenseHeadName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseAmount)
                    </td>
                    <td>
                        @item.ExpenseDate.Value.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @if (Model.IsFiltering == true)
                    {

                    }
                    else
                    {
                <td>
                    <a href='@Url.Action("Expense","Expenses",new {id=item.ExpenseID})' class="btn btn-outline-info"><i class="fa fa-edit"></i></a>
                    <a href='@Url.Action("Delete","Expenses",new {id= item.ExpenseID })' class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
          
                </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>