@model ExpenseManagement.Models.BLs.ViewModel
@*<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/assets/DataTables-1.11.1/css/jquery.dataTables.css" rel="stylesheet" />
</head>*@
<div class="table-responsive">
    <table class="row-border hover order-column table-condensed table-bordered" id="table_id">
        <thead>
            <tr>
                <th>
                    Expense Head
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expense.ExpenseAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expense.ExpenseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expense.Description)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Expenses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseHeadName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseAmount)
                    </td>
                    <td>
                        @item.ExpenseDate.Value.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Expense", new { id = item.ExpenseID }, new { @class = "btn btn-default" }) |
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.ExpenseID }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<script src="~/assets/DataTables-1.11.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ajaxComplete(function () {
        var table = $('#table_id').DataTable();

        $('#table_id tbody')
            .on('mouseenter', 'td', function () {
                var colIdx = table.cell(this).index().column;

                $(table.cells().nodes()).removeClass('highlight');
                $(table.column(colIdx).nodes()).addClass('highlight');
            });
    });
</script>*@