@model ExpenseManagement.Models.BLs.Expenses
    @{
        ViewBag.Title = "FilterExpenses";
    }
    <head>
        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
        <link href="~/assets/DataTables-1.11.1/css/jquery.dataTables.css" rel="stylesheet" />
    </head>
    <div class="panel">
        <div class="panel panel-heading divider">
        <h4><span class="panel-title active">Filter Expenses</span></h4></div>
        <div class="panel-body panel-primary">
            <div class="form-horizontal">
                @using (Html.BeginForm("Filter", "Filter_Expenses", FormMethod.Post, new { @id = "frm" }))
                {

                <div class="form-group">
                    <label class="col-md-2">Head</label>
                    <div class="col-md-10">
                        @{var list = new SelectList(ExpenseManagement.Models.BLs.BL_Expense_Head.GetHeads(), "ExpensHeadID", "ExpenseHeadName"); }
                        @Html.DropDownListFor(model => model.ExpenseHeadID, @list as SelectList, "Please Select the Head", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ExpenseHeadID, "", new { @class = "text text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Date</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ExpenseDate, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.ExpenseDate, "", new { @class = "text text-danger" })
                    </div></div>
                    <div class="ml-3">
                        <button type="button" id="btnsubmit" class="btn btn-primary">Filter</button>
                    </div>
                    <br />
                    }
                </div>
            @*<div><h1>Record</h1></div>*@

        </div>
    </div>
    <div id="filterrecords">

    </div>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
               
                var form = new FormData(document.getElementById("frm"));
                $.ajax({
                    type: "POST",
                    url: "/Filter_Expenses/Filter",
                    dataType: "html",
                    data: form,
                     contentType: false,
                    processData: false,
                    success: function (data) {
                        $('#filterrecords').html(data);
                        $('#table_id').DataTable();
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            });
        });
    </script>
