@model ExpenseManagement.Models.BLs.ViewModel
    @{
        ViewBag.Title = "FilterExpenses";
    }
    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/assets/DataTables-1.11.1/css/jquery.dataTables.css" rel="stylesheet" />
    </head>
    <div class="panel">
        <div class="panel-heading">Filter Expenses</div>
        <div class="panel-body">
            <div>
                @using (Html.BeginForm("Filter", "Filter_Expenses", FormMethod.Post, new { @id = "frm" }))
                {

                    <div class="form-group">
                        <label>Head</label>
                        @{var list = new SelectList(ExpenseManagement.Models.BLs.BL_Expense_Head.GetHeads(), "ExpensHeadID", "ExpenseHeadName"); }
                        @Html.DropDownListFor(model => model.Expense.ExpenseHeadID, @list as SelectList, "Please Select the Head", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model=>model.Expense.ExpenseHeadID,"", new { @class = "text text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        @Html.TextBoxFor(model => model.Expense.ExpenseDate, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.Expense.ExpenseDate, "", new { @class = "text text-danger" })
                    </div>
                    <div>
                        <button type="button" id="btnsubmit" class="btn btn-default">Submit</button>
                    </div>
                }
            </div>
            <div><h1>Record</h1></div>

        </div>
    </div>
    <div id="filterrecords">

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
               
                var form = new FormData(document.getElementById("frm"));
                $.ajax({
                    type: "POST",
                    url: "/Filter_Expenses/Filter",
                    dataType: "html",
                    data: form,
                     contentType: false,
                    processData: false,
                    success: function (data) {
                        $('#filterrecords').html(data);
                        $('#table_id').DataTable();
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            });
        });
    </script>
