@model ExpenseManagement.Models.BLs.Expenses

@{
    ViewBag.Title = "Expense";
}

<h2>Expense</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Expenses</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ExpenseID, new { htmlAttributes = new { @class = "form-control" } })
        <div class="form-group">
            <div class="control-label col-md-2"><label>Expense Heads</label></div>
            <div class="col-md-10">
                @{var list = new SelectList(ExpenseManagement.Models.BLs.BL_Expense_Head.GetHeads(), "ExpensHeadID", "ExpenseHeadName"); }
                @Html.DropDownListFor(model => model.ExpenseHeadID, @list as SelectList, "Select the Heads", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExpenseHeadID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><label>Sub Expense Heads</label></div>
            <div class="col-md-10">
                @{ }
                @Html.DropDownListFor(model => model.SubExpenseHeadID, new SelectList(""), "Select the Sub Heads", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubExpenseHeadID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpenseAmount, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                @Html.ValidationMessageFor(model => model.ExpenseAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ExpenseDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExpenseDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ExpenseList")
</div>
<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#ExpenseHeadID').change(function () {
          var eid= $('#ExpenseHeadID').val();
            $.ajax({
                type: 'Post',
                url: '/GetSubHeads/GetHeads?eid=' + eid,
                contentType: 'html',
                success: function (response) {
                    $('#SubExpenseHeadID').empty();
                    $('#SubExpenseHeadID').append(response);
                },
            });
        });
    });
</script>